/* Used for when the user wants to change to night mode*/
/*Menu bars*/
.menu-bar .label {
    -fx-text-fill: #FFFFFF;
}
.menu-bar .menu-button:hover, .menu-bar .menu-button:focused, .menu-bar .menu-button:showing {
    -fx-background-color: RED;
}
.menu-bar {
    -fx-background-color: #303030;
}
/*Text fields*/
.text-field, .text-field .label {
    -fx-background-color: #202020;
    -fx-text-fill: #FFFFFF;
}

/*ListViews*/
.list-view {
    -fx-background-color: #303030;
    -fx-border-color: RED;
}
.list-cell:filled:selected {
    -fx-background-color: #000000;
    -fx-border-color: RED;
}
.list-cell:even {
    -fx-background-color: #202020;
}
.list-cell {
    -fx-background-color: #303030;
    -fx-text-fill: #FFFFFF;
}

/*Scroll bars*/
.scroll-bar {
    -fx-background-color: #202020;
}
.increment-button, .decrement-button {
    -fx-background-color: #202020;
    -fx-border-color: #202020;
}
.scroll-bar:horizontal .track, .scroll-bar:vertical .track {
    -fx-background-color: #202020;
    -fx-border-color: #202020;
}
.scroll-bar .thumb, .corner {
    -fx-background-color: #101010;
}

/*Entire scene*/
.root {
    -fx-background-color: #000000;
}